<%- include('partials/header') -%>

<section id="home" class="home">
  <div class="me-big">
    <h1 class="section-heading" style="color: white;">I am Ceren.</h1>
    <h3 class="project-heading typewriter" style="color: white;">a <b>pro</b>grammer.</h3>
  </div>
</section>
<!-- About Me -->
<section class="about">
  <div class="row">
    <div class="col-6">
      <img style="width: 80%; height: 80%;"
      src="https://lh3.googleusercontent.com/RqCJMsDMRdISKyNQOHbkYGkEFJRdpPn9j4pHOSL93BBJDomG6Vbv1uaU9370uj6iHqjpyFVrfp-Z0EtPnU2qFC6wEgc9MV5W7zJciTIQj8g9Zw-HAiwLPjR6BTEu_rhL1EWAy_DbPFy0Hq3vGyyDsJQ8m_eIs3hJjZHHDw_DdPxCfm-rFXjmdTe2WA" alt="my photo">
    <!-- TODO: add style to the image. -->
    </div>
    <div class="col-6" >
      <div class="about-me">
        <h1 class="section-heading">Hi Everybody!</h1>
        <p>My name is Ceren and I am a seniour who likes coding. I
          am currently preparing my university applications. Other than that,
          people see me play table tennis most of the time and I try to read more. 
          My hobbies are playing table tennis, volleyball and doing puzzles.
        </p>
      </div>
    </div>
  </div>

</section>
<!-- What have I done so far? -->
<section class="coding-exhibition" id="codingExhibition">
  <h1 class="section-heading">Fun coding stuff...</h1>
  <a href="https://github.com/CeroSahin">
    <button type="button" class="btn btn-success" name="button">My Github!</button>
  </a>
  <br> <br> 
  <div class="row">
    <div class="col-6" style="padding: 0 2.5%">
      <img class="image" src="/images/omc.png" alt="coffe-shops">
    </div>
    <div class="col-6" style="padding: 0 2.5%;">
      <h5 class="project-heading">Online Math Club</h5>
      <p class="project-explain">
        Online Math Club's (OMC) official website. I built the website as a member of their team.
        OMC is an international community aimed at giving olympiad lessons online and encouraging students
        in the field.
      </p>
      <a href="https://onlinemathclub.herokuapp.com/">
        <button type="button" class="btn btn-success" name="button">Link here!</button>
      </a>
    </div>
  </div>
  <br>
      <!-- Website flask-->
      <div class="row">
        <div class="col-6" style="padding: 0 2.5%">
          <img class="image" src="https://user-images.githubusercontent.com/63314501/115968070-8dc53880-a53e-11eb-8b9c-d55059e53e9b.gif" alt="coffe-shops">
        </div>
        <div class="col-6" style="padding: 0 2.5%;">
          <h5 class="project-heading">Coffee Shops</h5>
          <p class="project-explain">
            A website built with Flask which enables users to add & delete coffee shops.
          </p>
          <a href="https://github.com/CeroSahin/coffe-shops">
            <button type="button" class="btn btn-success" name="button">See Code!</button>
          </a>
        </div>
      </div>
      <br>
      <!-- watermark adder-->
      <div class="row">
        <div class="col-6" style="padding: 0 2.5%;">
          <img class="image" src="https://user-images.githubusercontent.com/63314501/115798165-4031ba00-a3de-11eb-8457-280856e736a1.png" alt="Watermark Adder">
        </div>
        <div class="col-6" style="padding: 0 2.5%;">
          <h5 class="project-heading">Watermark Adder</h5>
          <p class="project-explain">
            A watermark adder built with Tkinter and PIL
            It changes the size of the watermark according to
            the size of the selected image.
          </p>
          <a href="https://github.com/CeroSahin/watermark-adder">
            <button type="button" class="btn btn-success" name="button">See Code!</button>
          </a>
        </div>
      </div>
      <br>
      <!-- Color Palette Generator-->
      <div class="row">
        <div class="col-6" style="padding: 0 2.5%;">
          <img class="image" src="https://user-images.githubusercontent.com/63314501/116475209-30085780-a882-11eb-9d7c-6a6fe365ef1b.gif" alt="Color Palette Generator">
        </div>
        <div class="col-6" style="padding: 0 2.5%;">
          <h5 class="project-heading">Color Palette Generator</h5>
          <p class="project-explain">
            A Flask website that generates a color palette by identifying the
            12 most common colours from the image user provides. I used numpy
            and PIL to handle the images and return the most common colours.
            The website is built with Flask, as usual. :)
          </p>
          <a href="https://github.com/CeroSahin/color-palette-generator">
            <button type="button" class="btn btn-success" name="button">See Code!</button>
          </a>
        </div>
 
      </div>

</section>

<!-- Betamat -->
<section class="betamat">
<div class="row">
  <div class="col-6" style="padding: 0 2.5%;">
    <img class="image" src="https://cdn-images-1.medium.com/max/1200/1*7w5Cdi9qY-KxxFT64S4wbA.png" alt="Betamat Logo">
  </div>
  <div class="col-6" style="padding: 0 2.5%;">
    <h5 class="section-heading">What is Betamat?</h5>
    <p>
      Betamat is an online publication aimed at publishing easy-to-read and fun concepts
      in mathematics. I founded Betamat with 4 of my friends with whom I met in Ali Nesin's
      Matematics Village in 2019. We started off as a small team of writers, then got bigger.
      Now Betamat has more than 50 articles both in English and <a href="https://medium.com/betamat">Turkish</a>
    </p>
  </div>
</div>
<a href="https://medium.com/betamat-en">
  <button type="button" class="btn btn-success">See Betamat Articles!</button>
</a>
</section>

<!-- Math Olympiads History -->
<section class="maths">
  <h3 class="section-heading">My Good Old Friend: Mathematics.</h3>
  <p>
    I have spent 3 years of my high school as an olympiad student studying in maths.
    Hence, I have attended many math competitions and gained some experience about this world.
    During the lockdown in Turkey, my interest shifted from math to coding; thus, I gradually
    became more indulged in coding and discovered a new pursuit for myself.
  </p>
  <p>
    Here are some of awards I got and exams I participated in as a result of my perseverence in this path.
  </p>
  <ul>
    <li>European Mathematical Cup (EMC) Third Prize in 2019</li>
    <li>EMC Honourable Mention in 2020</li>
    <li>Turkish Math Competition (TMY) 2nd Place</li>
    <li>ranked 11th in the nation in AMC (American Math Competiton)</li>
    <li>passed TUBITAK National Maths Olympiads First Level Eliminations</li>
    <li>attended TUBITAK National Maths Olympiads Second Level Eliminations</li>
    <li>attended EGMO National Girls Team Selection Exam</li>
  </ul>
<h3 class="section-heading">My Maths Project.</h3>
<p>
  Other than olympiads I also made a project about a problem known to be unsolved yet.
  And I am currently trying to get it published on some science magazine. So, wish me luck!
  Hopefully I'll be able to leave a link here for that article in the future.

  PS: I published my math paper!!! <a href="https://dergipark.org.tr/en/pub/bilar/issue/72508/1037944">Check it out!</a> 
</p>
</section>


<!-- Book Recommendations -->
<section class="bookrec">
    <h3 class="section-heading">Some Book Recommendations</h3>
    <p>Here are some of the books I enjoyed the most while reading.</p>
    <ul>
      <li>The Smell Of The Apples by Mark Behr</li>
      <li>Dead Souls by Gogol</li>
      <li>Lord of the Flies by William Golding</li>
      <li>To Kill a Mockingbird by Harper Lee </li>
      <li>Harry Potter series by J.K. Rowling </li>
      <li>Call Me By Your Name by André Aciman</li>
      <li>1984 by George Orwell</li>
      <li>Night Dawn Day Trilogy by Elie Wiesel</li>
    </ul>
</section>



<!--
// TODO: Furnish the website with customized fonts.
// TODO: Add 5 more coding projects.
// TODO: Fix the carousel item size, especially height.
// TODO: Decorate the home section with your photos and some animated CSS.
// TODO: Add more detail to about me section. School, projects, Betamat...
 -->

<%- include('partials/footer') -%>
